<!-- /views/partials/messages.ejs -->
<% if (messages && messages.length > 0) { %>
  <div class="alert alert-info">
    <% messages.forEach(function(message) {
      <p><%= message %></p>
   <% }) %>
  </div>
<% } %>