<!-- /views/partials/messages.ejs -->
<% if (messages && Object.keys(messages).length> 0) { %>
  <% Object.keys(messages).forEach(function(key) { %>
    <div class="alert alert-<%= key %>">
      <% messages[key].forEach(function(message) { %>
        <p>
          <%= message %>
        </p>
      <% }) %>
    </div>
  <% }) %>
<% } %>